.recipe {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 1rem;
  overflow: hidden;

  @media (max-width: 1088px) {
    &:last-child {
      display: none;
    }
  }

  @media (max-width: 374px) {
    &:nth-child(3) {
      display: none;
    }
  }

  img {
    border-radius: 1rem 0 0 1rem;
    transition: all 0.2s ease-in-out;

    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    @media (max-width: 767px) {
      height: 150px;
    }

    &:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      filter: brightness(1);
    }
  }

  div {
    display: flex;
    flex-direction: column;
    padding: 0 5rem 0 2rem;

    @media (max-width: 767px) {
      padding: 0 2rem 0 2rem;
    }

    h1 {
      font-size: 1.5rem !important;
      @media (max-width: 767px) {
        font-size: 1rem !important;
      }
    }

    button {
      padding: 1rem;
      border: none;
      background: var(--primary);
      border-radius: 5px;
      color: #ffffff;
      font-weight: 700;

      @media (max-width: 767px) {
        padding: 0.5rem;
      }
    }
  }
}
